@charset "utf-8";

/*--------------------
footer
---------------------*/
.l-footer{
	color: #fff;
	position: relative;
	background-color: #3a3e3f;
}

.p-footer__area{
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}

.col-sm6{
	text-align: right;
	width: 50%;
	float: left;
}

.col-md-4{
	float: left;
	width: 33%;
}

.p-footer__social{
	display: inline-block;
	text-align: right;
}

.p-footer__social{
	display: inline-block;
	text-align: right;
}

.p-footer__social a{
	color: #666;
	text-align: right;
}

.p-footer__social a:hover{
	color: #fff;
}

.p-footer__social li{
	float: left;
	margin-right: 10px;
	display: inline-block;
}

.p-footer{
	padding:40px 0;
}

.p-footer-title{
	font-size: 2.3rem;
	text-align: center;
	padding-bottom: 16px;
}

.p-footer__social i{
	color: #666;
}

.p-footer__social i:hover{
	color: #fff;
}

 .p-footer__txt{
	color: #e3e3e3;
	font-size: 1.2rem;
	letter-spacing: 1px;
	line-height: 1.8;
}

.mr10{
	margin-right: 10px;
}

 .p-footer__txt a{
	color: #e3e3e3;
}

.p-footer__copyright{
	color: #666;
	text-align: left;
}

.p-footer__socailbk{
	text-align: right;
}

.p-footer-nav{
	text-align: center;
}

.p-footer__title{
	font-size: 1.4rem;
	padding-bottom: 20px;
	letter-spacing: 2px;
	color: #666;
}

.p-footer-nav a{
	color: #fff;
	font-size: 1.8rem;
}

.p-footer-nav li{
	display: inline-block;
}

.p-footer__nav li{
	display: inline-block;
	padding:0 10px 0 0;
}

.p-footer__nav a{
	color: #e3e3e3;
}


